#footer{
    margin-top: 0px;
	width: 100%;
	height:121px;
	background-color: #0486C4;
}
.illustrate{

	padding-left:300px;
	padding-right: 300px;
	padding-top: 10px;
}
.illustrate p{

	white-space:nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
	color:white;
	font-size: 0.9em;
}