
<div class="comWidth dm">
    <!--索引位置-->
    <div class="position">
        <span class="home">首页</span><span class="sec_nav">&gt;教务处</span>
    </div>
    <!--END 索引位置-->

    <!--列表部分 2列1行-->
    <div class="news_list">
        <!--第一列-->
        <div class="department_list">
            <div class="department">
                <ul>
                    <li class="title"><span class="label">消息列表</span></li>
                    <li class="list">
                        <img class="list_logo" src="image/jwc1.png">
                        <div class="detail">
                            <h3>1.5万名考生华园参加英语四、六级考试</h3>
                            <p>6月14日，全国大学英语四六级考试在华南理工大学开考，全校共有1。5万考生参加考试，其中包括山东大学，大连理工大学，广西大学，贵州民族大学等四所高校的交换生，华南理工大学高度重视本次考试，副校长邱学琴强调考试工作要做到精心筹备，加强管理，严肃考纪，同时强化安全保密一时，制定--强化安全保密一时，制定强化安全保密一时，制定
                                强化安全保密一时，制定强化安全保密一时，制定
                                强化安全保密一时，制定强化安全保密一时，制定sda das das </p>
                        </div>
                        <span class="date">下午5：00</span>

                    </li>
                    <li class="list">
                        <img class="list_logo" src="image/jwc2.png">
                        <div class="detail">

                        </div>
                        <span class="date">下午5：00</span>

                    </li>
                    <li class="list">
                        <img class="list_logo" src="image/jwc3.png">
                        <div class="detail">

                        </div>
                        <span class="date">下午5：00</span>

                    </li>
                    <li class=" list">
                        <img class="list_logo" src="image/jwc4.png">
                        <div class="detail">

                        </div>
                        <span class="date">下午5：00</span>

                    </li>
                </ul>
            </div>
        </div>
        <!--END 第一列-->

        <!--第二列-->
        <div class="link_list">
            <div class="label">
                教务处
            </div>
            <ul class="big_list">
                <li><a href="#"><span class="link_title first">教务处查询系统</a></li>
                <li><span class="link_title">自定义菜单一</li>
                <li><span class="link_title ">自定义菜单二</span>
                    <ul class="small_link">
                        <li>教务管理</li>
                        <li>校历表</li>
                        <li>英语四、六级考试</li>
                        <li>计算机水平考试</li>
                        <li>教学在线</li>
                    </ul>

                </li>
            </ul>

        </div>
        <!--END 第二列-->
    </div>
    <!-- END 列表部分-->

</div>

