<div class="comWidth person">
    <!--索引位置-->
    <div class="position">
        <span class="home">首页</span><span class="sec_nav">&gt;个人信息</span>
    </div>
    <!--END 索引位置-->

    <!--列表部分 2列1行-->
    <div class="news_list">
        <!--第1列 链表-->
        <div class="link_list">
            <div class="label contact">
                张三
            </div>

            <ul class="info_list">
                <li class="active">详细信息</li>
                <li>我的校园卡</li>
                <li>我的银行卡</li>
                <li>我的课程表</li>
            </ul>

        </div>
        <!--END 第1列-->

        <!--第2列 个人详细信息-->
        <div class="department_list">
            <div class="department">

                <div id="choice" class="label">详细信息</div>
                <!--个人详细信息 表格-->
                <div class="article_body">
                    <!--在此处插入个人的信息-->
                    <table>
                        <tr>
                            <td>姓名：张三</td>
                            <td>学号：12345678</td>
                            <img  class="head" src="image/demo.jpg" alt="">
                        </tr>
                        <tr>
                            <td>姓名拼音：zhangsan</td>
                            <td>民族：汉</td>
                        </tr>
                        <tr>
                            <td>性别：男</td>
                            <td>籍贯：广东省广州市番禺区</td>
                        </tr>
                        <tr>
                            <td>学院：软件学院</td>
                            <td>专业：软件工程</td>
                        </tr>
                        <tr>
                            <td>年级：2014级</td>
                            <td>入学日期：2014-09-01</td>
                        </tr>
                        <tr>
                            <td>学制：4年</td>
                            <td>学籍状态：正常</td>
                        </tr>
                        <tr>
                            <td>证件类别：中华人民共和国居民身份证</td>
                            <td>证件号码：12345678912345</td>
                        </tr>
                        <tr>
                            <td>备注：</td>
                        </tr>
                    </table>
                </div>
                <!--END 个人详细信息-->
            </div>
        </div>
        <!--END 第2列-->

        <!-- END 列表部分-->
  </div>
    </div>